
<h3 class="m-5"> El sueño de tu casa propia comienza con nosotros...</h3> 
<h1 class="textoagregado m-4">{{title}}</h1>

<br>
<br>
<hr>
    


<div class="p-5 bodyindex container-fluid">
<div class="row">
<a href="/inmuebles"> 
    <div class="card col-9 p-2 m-3 mb-2 card-prod shadow-sm bg-dark">
               <img  src="/images/casa5.jpg" class="card-img" alt="{{nombre}}">
      <div class="card-body">
         <p class="h4 text-white">{{precio}}</p>
      </div>
    </div>

    <div class="card col-9 p-2 m-3 mb-2 card-prod shadow-sm bg-dark">
               <img  src="/images/casa7.jpg" class="card-img" alt="{{nombre}}">
      <div class="card-body">
         <p class="h4 text-white">{{precio}}</p>
      </div>
    </div>

    <div class="card col-9 p-2 mb-2 m-3 card-prod shadow-sm bg-dark">
               <img  src="/images/casa3.jpg" class="card-img" alt="{{nombre}}">
      <div class="card-body">
         <p class="h4 text-white">{{precio}}</p>
      </div>
    </div>

    <div class="card col-9 p-2 mb-2 m-3 card-prod shadow-sm bg-dark">
               <img  src="/images/casa5.jpg" class="card-img" alt="{{nombre}}">
      <div class="card-body">
         <p class="h4 text-white">{{precio}}</p>
      </div>
    </div>
    
    </a>
</div>


